{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="text-center">Liste des Piece </h2><br>

    <div class="row justify-content-center">
        {% for p in lespiece %}
            <div class="col-md-4">
                <div class="card mb-3 text-center">
                    <a href="{{ path('edit_piece', {'id': p.id }) }}">
                        {% if p.image is not null %}
                            <img src="{{ p.image }}" class="card-img-top " width="100" height="100">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">{{ p.nomPiece }}</h4>
                        <p class="card-text">Quantite: {{ p.quantite }}</p>
                        <p class="card-text">Unite: {{ p.unite }}</p>
                        <p class="card-text">Fournisseur: {{ p.fournisseur }}</p>
                        <p class="card-text">Montage: {{ p.montage.nomMontage }}</p>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('edit_piece', {'id': p.id }) }}" class="btn btn-info">Modifier</a>
                        <a href="{{ path('piece_delete', {'id': p.id }) }}" class="btn btn-danger">Supprimer</a>
                         {% endif %}
                    </div>
                </div>
            </div>
            <br>
        {% else %}
            <div class="alert alert-warning col-md-12 text-center" role="alert">
                Aucun abonné
            </div>
        {% endfor %}
    </div>

{% endblock %}
